name: Ruby
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1', '3.4']
    steps:
    - run: |
        sudo apt-get update
        sudo apt install -y libarchive-tools lintian cpanminus
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - run: |
        # python venv
        python -m venv venv
        . venv/bin/activate
        which python
        # perl local::lib
        cpanm --local-lib=~/perl5 local::lib
        eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
        which perl
        # run the tests
        if [ ! -z "$RUNNER_DEBUG" ] ; then
          DEBUG=1 bundle exec rspec -fd
        else
          bundle exec rspec
        fi
      env:
        SHELL: /usr/bin/bash
    - name: Setup tmate session on failure
      if: failure()
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
